In [115]:
import pandas as pd
import numpy as np

In [116]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [118]:
x=df[['cgpa']]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [119]:
y=df[['package']]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [120]:
from sklearn.model_selection import train_test_split

In [121]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state=0)

In [122]:
x_train

     cgpa
134  7.20
66   5.11
26   8.31
113  6.94
168  8.65
..    ...
67   6.51
192  8.25
117  7.12
47   5.84
172  6.93

[160 rows x 1 columns]

# Linear Regression

In [123]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [124]:
a=lr.predict(x_test)
#a

In [125]:
from sklearn.metrics import r2_score
lrr2=r2_score(y_test,a)
lrr2

0.7297167943957027

In [126]:
from sklearn.metrics import mean_squared_error
lr_mse=mean_squared_error(y_test,a)
lr_mse

0.10221131059334207

In [127]:
import numpy as np
lr_rmse=np.sqrt(lr_mse)
lr_rmse

0.31970503685951224

In [128]:
from sklearn.metrics import mean_absolute_error
lr_mae=mean_absolute_error(y_test,a)
lr_mae

0.2552433448620408

### Random Forest Regression

In [129]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100,random_state=0)
rfr.fit(x_train,y_train)

C:\Users\CS-L2-PC02\AppData\Local\Temp\ipykernel_12608\4077294850.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(random_state=0)

In [130]:
b=rfr.predict(x_test)
#b

In [131]:
rfrr2=r2_score(y_test,b)
rfrr2

0.47300976545306717

In [132]:
from sklearn.metrics import mean_squared_error
rfr_mse=mean_squared_error(y_test,b)
rfr_mse

0.19928860330964765

In [133]:
import numpy as np
rfr_rmse=np.sqrt(rfr_mse)
rfr_rmse

0.4464175212843327

In [134]:
from sklearn.metrics import mean_absolute_error
rfr_mae=mean_absolute_error(y_test,b)
rfr_mae

0.3757190873015874

# support vector regression

In [135]:
from sklearn.svm import SVR
svr=SVR(kernel='rbf')
svr.fit(x_train,y_train)

C:\Users\CS-L2-PC02\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [136]:
c=svr.predict(x_test)
#c

In [137]:
svrr2=r2_score(y_test,c)
svrr2

0.7096033892596181

In [138]:
from sklearn.metrics import mean_squared_error
svr_mse=mean_squared_error(y_test,c)
svr_mse

0.10981747130487307

In [139]:
import numpy as np
svr_rmse=np.sqrt(svr_mse)
svr_rmse

0.3313871924273373

In [140]:
from sklearn.metrics import mean_absolute_error
svr_mae=mean_absolute_error(y_test,c)
svr_mae

0.2656320734151466

# Lasso Regression

In [141]:
from sklearn.linear_model import Lasso
la=Lasso(alpha=3.0)
la.fit(x_train,y_train)

Lasso(alpha=3.0)

In [142]:
d=la.predict(x_test)
#d

In [143]:
lar2=r2_score(y_test,d)
lar2

-0.08514252465036676

In [144]:
from sklearn.metrics import mean_squared_error
la_mse=mean_squared_error(y_test,d)
la_mse

0.41036156640625004

In [145]:
import numpy as np
la_rmse=np.sqrt(la_mse)
la_rmse

0.6405946974540533

In [146]:
from sklearn.metrics import mean_absolute_error
la_mae=mean_absolute_error(y_test,a)
la_mae

0.2552433448620408

# comparing all types of regression

In [148]:
ser1=['Linear Regression','Random Forest Regression','Support Vector Regression','Lasso Regression']
ser2=[lrr2,rfrr2,svrr2,lar2]
ser3=[lr_mse,rfr_mse,svr_mse,la_mse]
ser4=[lr_rmse,rfr_rmse,svr_rmse,la_rmse]
ser5=[lr_mae,rfr_mae,svr_mae,la_mae]
df=pd.DataFrame({'regression type':ser1,'r2_score':ser2,'mse':ser3,'rmse':ser4,'MAE':ser5})
df

             regression type  r2_score       mse      rmse       MAE
0          Linear Regression  0.729717  0.102211  0.319705  0.255243
1   Random Forest Regression  0.473010  0.199289  0.446418  0.375719
2  Support Vector Regression  0.709603  0.109817  0.331387  0.265632
3           Lasso Regression -0.085143  0.410362  0.640595  0.255243