# COLUMNS TRANSFORMATION

In [28]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [29]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv('dataset/covid.csv')

In [31]:
df.sample(5)

    age  gender  fever   cough     city has_covid
15   70    Male  103.0  Strong  Kolkata       Yes
74   34  Female  104.0  Strong    Delhi        No
3    31  Female   98.0    Mild  Kolkata        No
0    60    Male  103.0    Mild  Kolkata        No
90   59  Female   99.0  Strong    Delhi        No

In [32]:
df[['fever']]

    fever
0   103.0
1   100.0
2   101.0
3    98.0
4   101.0
..    ...
95  104.0
96  101.0
97  101.0
98   98.0
99   98.0

[100 rows x 1 columns]

In [33]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# 1. Aam Zindagi

In [34]:
# adding simple imputer to fever col
si=SimpleImputer()
df_fever=si.fit_transform(df[['fever']])
df_fever.shape
#df_fever

(100, 1)

In [35]:
#ordinal encoding -> cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
df_cough=oe.fit_transform(df[['cough']])
df_cough.shape
#df_cough

(100, 1)

In [36]:
#oneHotEncoder -> gender,city
ohe=OneHotEncoder(drop='first',sparse=False)
df_gender_city=ohe.fit_transform(df[['gender','city']])
df_gender_city.shape
#df_gender_city

(100, 4)

In [37]:
#extracting age
df_Age=df.drop(columns=['gender','fever','cough','city']).values
df_Age.shape
#df_Age

(100, 2)

In [38]:
df_transformed=np.concatenate((df_Age,df_fever,df_gender_city,df_cough),axis=1)
#also the test data
df_transformed.shape
#df_transformed

(100, 8)

In [39]:
#new_df=pd.DataFrame(df_transformed,columns=df.columns)

# Mentos Zindagi

In [40]:
from sklearn.compose import ColumnTransformer

In [41]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [42]:
transformer.fit_transform(df).shape

(100, 8)

In [43]:
#transformer.get_feature_names()

In [44]:
# transformer=ColumnTransformer(transformers=[
#     ('tnf1',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
# ],remainder='passthrough')

In [45]:
#newdf=pd.DataFrame(transfromer.fit_transform)

# COLUMNS TRANSFORMATION

In [46]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [47]:
df = pd.read_csv('dataset/customer.csv')
  
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [48]:
ohe=OneHotEncoder()
imp=SimpleImputer()

In [49]:
ct=make_column_transformer(
    (ohe,['review','education','gender']),
    (imp,['age']),
    remainder='passthrough')

In [50]:
ct.fit_transform(df)

array([[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 30.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 68.0, 'No'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 70.0, 'No'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 72.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 16.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 31.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 18.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 60.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 65.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 74.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 98.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 74.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 51.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 57.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 15.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 75.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 59.0, 'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 1.0, 0.0, 22.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 19.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 97.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 57.0, 'Yes'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 32.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 18.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 96.0, 'No'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 16.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 57.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 53.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 69.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 48.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 83.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 73.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 22.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 1.0, 92.0, 'Yes'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 89.0, 'Yes'],
       [1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 86.0, 'No'],
       [0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 74.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 34.0, 'Yes'],
       [1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 94.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 1.0, 0.0, 45.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 76.0, 'No'],
       [0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 0.0, 1.0, 39.0, 'No'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 23.0, 'Yes'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 30.0, 'Yes'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 27.0, 'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 77.0, 'No'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 0.0, 1.0, 61.0, 'Yes'],
       [0.0, 0.0, 1.0, 1.0, 0.0, 0.0, 1.0, 0.0, 64.0, 'No'],
       [0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 0.0, 38.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 39.0, 'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 1.0, 0.0, 25.0, 'No']], dtype=object)