# COLUMNS TRANSFORMATION

In [3]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [5]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('dataset/covid.csv')

In [9]:
df.sample(5)

    age  gender  fever   cough     city has_covid
99   10  Female   98.0  Strong  Kolkata       Yes
41   82    Male    NaN    Mild  Kolkata       Yes
79   48  Female  103.0    Mild  Kolkata       Yes
31   83    Male  103.0    Mild  Kolkata        No
88    5  Female  100.0    Mild  Kolkata        No

In [11]:
df[['fever']]

    fever
0   103.0
1   100.0
2   101.0
3    98.0
4   101.0
..    ...
95  104.0
96  101.0
97  101.0
98   98.0
99   98.0

[100 rows x 1 columns]

In [12]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

# 1. Aam Zindagi

In [13]:
# adding simple imputer to fever col
si=SimpleImputer()
df_fever=si.fit_transform(df[['fever']])
df_fever.shape
#df_fever

(100, 1)

In [15]:
#ordinal encoding -> cough
oe=OrdinalEncoder(categories=[['Mild','Strong']])
df_cough=oe.fit_transform(df[['cough']])
df_cough.shape
#df_cough

(100, 1)

In [16]:
#oneHotEncoder -> gender,city
ohe=OneHotEncoder(drop='first',sparse=False)
df_gender_city=ohe.fit_transform(df[['gender','city']])
df_gender_city.shape
#df_gender_city

(100, 4)

In [17]:
#extracting age
df_Age=df.drop(columns=['gender','fever','cough','city']).values
df_Age.shape
#df_Age

(100, 2)

In [19]:
df_transformed=np.concatenate((df_Age,df_fever,df_gender_city,df_cough),axis=1)
#also the test data
df_transformed.shape
#df_transformed

(100, 8)

In [20]:
#new_df=pd.DataFrame(df_transformed,columns=df.columns)

# Mentos Zindagi

In [22]:
from sklearn.compose import ColumnTransformer

In [27]:
transformer=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [28]:
transformer.fit_transform(df).shape

(100, 8)

In [29]:
#transformer.get_feature_names()

In [30]:
# transformer=ColumnTransformer(transformers=[
#     ('tnf1',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
# ],remainder='passthrough')

In [ ]:
#newdf=pd.DataFrame(transfromer.fit_transform)