# import MySQL connector

In [8]:
import mysql.connector as con

# connect to database

In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
print (new_db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000020862DB0040>

In [2]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root"
)
cur = new_db.cursor()
cur.execute(" CREATE DATABASE mydata")

# creat table

In [11]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = "CREATE TABLE info ( address varchar(20), mblno varchar(20))"
cur.execute(query)

# list tables of created database

In [12]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = " SHOW TABLES"
cur.execute(query)
for a in cur:
    print(a)

('info',)
('marks',)
('student',)

# inserting data

In [15]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = " INSERT INTO student (name , regno) VALUES ('avadhoot','393CS20013')"
cur.execute(query)
new_db.commit()
a= cur.rowcount
print(a,"new row inserted")

1 new row inserted

# inserting multiple records into table

In [20]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = " INSERT INTO student (name , regno) VALUES (%s,%s)"
values = [("abhinav","393CS2001"),
         ("akash","393CS2002"),
          ("avadhoot","393CS20013")
         ]
cur.executemany(query,values)
new_db.commit()
a= cur.rowcount
print(a,"new row inserted")

3 new row inserted

# DISPLAY THE RECORDS FROM TABLE

In [22]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = " SELECT * FROM  student"
cur.execute(query)
for i in cur:
    print(i)

('avadhoot', '393CS20013')
('abhinav', '393CS2001')
('akash', '393CS2002')
('abhinav', '393CS2001')
('akash', '393CS2002')
('avadhoot', '393CS20013')

# displya perticular record from database

In [1]:
import mysql.connector as con
new_db = con.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "mydata"
)
cur = new_db.cursor()
query = " SELECT name FROM  student"
cur.execute(query)
for i in cur:
    print(i)

('avadhoot',)
('abhinav',)
('akash',)
('abhinav',)
('akash',)
('avadhoot',)