In [1]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('dataset/bank-additional-full.csv')
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [11]:
df.drop('duration',axis=1,inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  campaign        41188 non-null  int64
 11  pdays           41188 non-null  int64
 12  previous        41188 non-null  int64
 13  poutcome        41188 non-null  object
 14  emp.var.rate    41188 non-null  float64
 15  cons.price.idx  41188 non-null  float64
 16  cons.conf.idx   41188 non-null  float64
 17  euribor3m       41188 non-null  float64
 18  nr.employed     41188 non-null  float64
 19  y               41188 non-null  object
dtypes: float64(5), int64(4), object(11)
memory usage: 6.3+ MB

In [7]:
y=df['y']
y

0         no
1         no
2         no
3         no
4         no
        ...
41183    yes
41184     no
41185     no
41186    yes
41187     no
Name: y, Length: 41188, dtype: object

In [14]:
x=df.iloc[:,:-1]
x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6

In [36]:
#df['job'].unique()
#unknown,unemployed,

In [37]:
#df['marital'].unique()

In [38]:
#df['education'].unique()

In [39]:
#df['default'].unique()

In [40]:
#df['housing'].unique()

In [41]:
#df['loan'].unique()

In [42]:
#df['contact'].unique()

In [43]:
#df['month'].unique()

In [44]:
#df['day_of_week'].unique()

In [35]:
#df['poutcome'].unique()

In [32]:
x_encoded=pd.get_dummies(x,drop_first=True)

In [33]:
x_encoded.shape

(41188, 52)

In [34]:
x_encoded

,age,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,job_blue-collar,...,month_may,month_nov,month_oct,month_sep,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_nonexistent,poutcome_success
0,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,1,0,0,0,1,0,0,0,1,0
1,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,1,0,0,0,1,0,0,0,1,0
2,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,1,0,0,0,1,0,0,0,1,0
3,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,1,0,0,0,1,0,0,0,1,0
4,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,0,0,0,0,1,0
41184,46,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,1,...,0,1,0,0,0,0,0,0,1,0
41185,56,2,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,0,0,0,0,1,0
41186,44,1,999,0,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,0,0,0,0,1,0
41187,74,3,999,1,-1.1,94.767,-50.8,1.028,4963.6,0,...,0,1,0,0,0,0,0,0,0,0

In [45]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_encoded, y,test_size=0.8,random_state=2)

In [51]:
#x_train
#y_train

13592    no
30250    no
24791    no
18142    no
20115    no
         ..
31019    no
30280    no
6637     no
35343    no
23720    no
Name: y, Length: 8237, dtype: object

#### random state

In [48]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(random_state = 1)

In [49]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(random_state=1)

In [53]:
y_pred=dtc.predict(x_test)
y_pred

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [54]:
from sklearn.metrics import confusion_matrix  
confusion_matrix(y_test,y_pred)

array([[26297,  2927],
       [ 2414,  1313]], dtype=int64)

In [55]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8379108373038755

In [56]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred,average='micro')

0.8379108373038755

In [59]:
from sklearn.metrics import recall_score
recall_score(y_test,y_pred, average='micro')

0.8379108373038755

#### criterion

In [78]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(criterion='entropy')

In [79]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [80]:
y_pred=dtc.predict(x_test)
y_pred

array(['no', 'no', 'yes', ..., 'no', 'no', 'no'], dtype=object)

In [81]:
from sklearn.metrics import confusion_matrix  
confusion_matrix(y_test,y_pred)

array([[26330,  2894],
       [ 2478,  1249]], dtype=int64)

In [82]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8369700464325817

In [83]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred,average='micro')

0.8369700464325817

In [84]:
from sklearn.metrics import recall_score
recall_score(y_test,y_pred, average='micro')

0.8369700464325817

#### splitter

In [85]:
from sklearn.tree import DecisionTreeClassifier
dtc= DecisionTreeClassifier(splitter='random')

In [86]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(splitter='random')

In [87]:
y_pred=dtc.predict(x_test)
y_pred

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In [88]:
from sklearn.metrics import confusion_matrix  
confusion_matrix(y_test,y_pred)

array([[26315,  2909],
       [ 2480,  1247]], dtype=int64)

In [89]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8364541288580013

In [90]:
from sklearn.metrics import precision_score
precision_score(y_test, y_pred,average='micro')

0.8364541288580013

In [91]:
from sklearn.metrics import recall_score
recall_score(y_test,y_pred, average='micro')

0.8364541288580013