In [47]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder

In [52]:
df=pd.read_csv('dataset/demo.csv',usecols=['Result'])
df

   Result
0    pass
1    Fail
2      FC
3      SC
4    DIST
..    ...
95   Fail
96     FC
97     SC
98   DIST
99   pass

[100 rows x 1 columns]

In [53]:
from sklearn.preprocessing import OrdinalEncoder
oo=OrdinalEncoder(categories=[['Fail','pass','SC','FC','DIST']])

In [54]:
oo.fit(df)

OrdinalEncoder(categories=[['Fail', 'pass', 'SC', 'FC', 'DIST']])

In [56]:
X_scaled =oo.transform(df)

In [57]:
X_scaled = pd.DataFrame(X_scaled, columns=df.columns)

In [58]:
X_scaled

    Result
0      1.0
1      0.0
2      3.0
3      2.0
4      4.0
..     ...
95     0.0
96     3.0
97     2.0
98     4.0
99     1.0

[100 rows x 1 columns]