In [89]:
import pandas as pd
import numpy as np

In [90]:
df = pd.read_csv("dataset/place.csv")
df

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cgpa     200 non-null    float64
 1   package  200 non-null    float64
dtypes: float64(2)
memory usage: 3.2 KB

In [92]:
x=df[['cgpa']]
x

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [93]:
y=df[['package']]
y

     package
0       3.26
1       1.98
2       3.25
3       3.67
4       3.57
..       ...
195     2.46
196     2.57
197     3.24
198     3.96
199     2.33

[200 rows x 1 columns]

In [94]:
from sklearn.model_selection import train_test_split

In [95]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,train_size = 0.8)

In [96]:
x_train

     cgpa
54   6.86
79   7.18
43   7.66
39   7.43
52   8.37
..    ...
89   6.42
127  6.78
107  6.33
174  7.32
138  7.91

[160 rows x 1 columns]

In [97]:
y_train

     package
54      3.09
79      3.00
43      2.76
39      3.33
52      4.11
..       ...
89      2.72
127     3.11
107     2.59
174     2.99
138     3.89

[160 rows x 1 columns]

In [98]:
from sklearn.linear_model import LinearRegression

In [99]:
lr=LinearRegression()

In [100]:
lr.fit(x_train,y_train)

LinearRegression()

In [101]:
#lr.predict(x_test[0],values,reshape(-1,1))

In [102]:
a=lr.predict(x_test)
a

array([[3.60524819],
       [1.61298424],
       [2.58647685],
       [2.94304682],
       [4.44856447],
       [2.36574306],
       [1.92427548],
       [2.09407071],
       [2.68835399],
       [3.67882612],
       [2.80721064],
       [3.52601042],
       [3.80334262],
       [3.25433806],
       [2.54685797],
       [3.06756332],
       [3.33923568],
       [3.18076013],
       [4.08067482],
       [3.22603886],
       [2.90342794],
       [3.52035058],
       [2.94870666],
       [4.21085116],
       [2.39404227],
       [3.49205138],
       [2.75627208],
       [2.12802975],
       [2.77891144],
       [4.08633466],
       [2.71099335],
       [2.33178402],
       [3.14680109],
       [4.11463386],
       [2.07143134],
       [3.0505838 ],
       [2.86946889],
       [3.32791599],
       [3.2599979 ],
       [1.43752918]])

In [103]:
#x_test

In [104]:
#y_test

In [105]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test,a)

0.30262232209551476

In [106]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,a)
mse

0.13249864290149574

In [109]:
import numpy as np
rmse=np.sqrt(mse)
rmse

0.3640036303410939

In [108]:
from sklearn.metrics import r2_score
r2_score(y_test,a)

0.7939713167793488