In [6]:
from pandas import DataFrame
df=DataFrame(
                [
                    ["aryan","singh","full time","administration",2,20000],
                    ["rohan","agarwal","intern","technical",1,5000],
                    ["riya","shah","fulltime","administration",5,10000],
                    ["yash","bhatiya","parttime","technical",3,10000],
                    ["siddhant","khanna","fulltime","management",6,20000]
                ]
                ,columns=["first Name","last name","type","department","YoE","Salary"]
            )
df

  first Name last name       type      department  YoE  Salary
0      aryan     singh  full time  administration    2   20000
1      rohan   agarwal     intern       technical    1    5000
2       riya      shah   fulltime  administration    5   10000
3       yash   bhatiya   parttime       technical    3   10000
4   siddhant    khanna   fulltime      management    6   20000